<div class="container log">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 ">
            <img src="../../assets/images/special-price-concept-3d-illustration-isolated-on-white-background-PBAH6D.jpg" class="img-fluid">
            <div class="card card-body">
                <form>
                    <h2 class="text-center">Welcome To Dataviss</h2>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Email Address</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix> email</mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Password</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>lock</mat-icon>

                        </mat-form-field>
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary" (click)="login()">Log In</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>